# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex
release/
captures/

# IntelliJ / Android Studio
*.iml
.idea/
.cxx/

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db
